{% extends 'base.html' %}

{% block navbar %}
<!-- navbar -->
  <nav id="mainNavbar" class="navbar navbar-light navbar-expand-md py-0 fixed-top p">
    <a href="#" class="navbar-brand">meerfelicitas</a>
    <button class="navbar-toggler btn btn-sm" data-toggle="collapse" data-target="#navLinks"
      aria-label="Toggle navigation">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" class="nav-link">Articles</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Resources</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Contact us</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Login</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <!-- display home -->
  <section class="meer container-fluid px-0" style="position: fixed; z-index: 0">
    <div class="d-flex flex-column align-items-center justify-content-center m-0" style="height: 100vh;">
      <h1 class="display-3 mb-3 text-black">Meer Felicitas</h1>
      <a href="" class="btn btn-outline-dark btn-lg">read the articles</a>
    </div>
  </section>

  <!-- behind display -->
  <div class="d-flex flex-row" style="height: 100vh"></div>

  <!-- intro -->
  <section class="bg-white" style="z-index: 1; position: relative">
    <div class="container">
      <div class="row" style="padding: 60px 0">
        <div class="col-lg-6 align-self-center">
          <h2 class="mb-4 px-2">
            <em>blog mental health blah</em>
          </h2>
        </div>
        <div class="col-lg-6">
          <h5 class="px-2">
            about us
          </h5>
          <p class="px-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
            distinctio ad sequi delectus deleniti nihil sapiente cum? Numquam
            mollitia impedit fuga. Ducimus maiores ipsum dolores laboriosam
            fugit placeat at inventore.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- featured posts -->
  <section class="gray" style="z-index: 1; position: relative">
    <div class="container">
      <div class="row justify-content-around" style="padding: 50px">
        <h4 class="px-2">
          featured articles
        </h4>
      </div>
      <div class="row justify-content-around">
        <div class="card-deck">
          <div class="card mx-3" style="border-radius: 0; margin-bottom: 50px">
            <img
              src="https://images.unsplash.com/photo-1527903789995-dc8ad2ad6de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
              class="card-img-top" style="border-radius: 0" alt="Read Article" />
            <div class="card-body">
              <a href="" class="stretched-link"></a>
              <h3>
                title
              </h3>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Itaque expedita error voluptas possimus dicta fugit iste at
                sint vitae quos.
              </p>
            </div>
            <a href="">
              <h4 class="middle" style="color: #4fa7a7;">
                read this article
              </h4>
            </a>
          </div>
          <div class="card mx-3" style="border-radius: 0; margin-bottom: 50px">
            <img
              src="https://images.unsplash.com/photo-1527903789995-dc8ad2ad6de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
              class="card-img-top" style="border-radius: 0" alt="Read Article" />
            <div class="card-body">
              <a href="" class="stretched-link"></a>
              <h3>
                title
              </h3>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Itaque expedita error voluptas possimus dicta fugit iste at
                sint vitae quos.
              </p>
            </div>
            <a href="">
              <h4 class="middle" style="color: #4fa7a7;">
                read this article
              </h4>
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="card-deck">
          <div class="card mx-3" style="border-radius: 0; margin-bottom: 50px">
            <img
              src="https://images.unsplash.com/photo-1527903789995-dc8ad2ad6de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
              class="card-img-top" style="border-radius: 0" alt="Read Article" />
            <div class="card-body">
              <a href="" class="stretched-link"></a>
              <h3>
                title
              </h3>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Itaque expedita error voluptas possimus dicta fugit iste at
                sint vitae quos.
              </p>
            </div>
            <a href="">
              <h4 class="middle" style="color: #4fa7a7;">
                read this article
              </h4>
            </a>
          </div>
          <div class="card mx-3" style="border-radius: 0; margin-bottom: 50px">
            <img
              src="https://images.unsplash.com/photo-1527903789995-dc8ad2ad6de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
              class="card-img-top" style="border-radius: 0" alt="Read Article" />
            <div class="card-body">
              <a href="" class="stretched-link"></a>
              <h3>
                title
              </h3>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Itaque expedita error voluptas possimus dicta fugit iste at
                sint vitae quos.
              </p>
            </div>
            <a href="">
              <h4 class="middle" style="color: #4fa7a7;">
                read this article
              </h4>
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <a href="" class="btn btn-sm btn-outline-dark" style="margin-bottom: 50px">
          read more
        </a>
      </div>
    </div>
  </section>
{% endblock %}
